# fly.toml app configuration file generated for second-brain-backend on 2025-12-30T11:33:06-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'second-brain-backend'
primary_region = 'yyz'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/second_brain eval "SecondBrain.Release.migrate"'

[env]
  PHX_HOST = 'second-brain-backend.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
